[config]
package = plone.app.transmogrifier

[buildout]

extends = http://dist.plone.org/release/3.2.3/versions.cfg
parts = test

find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

eggs = 
develop = .
versions = versions

[versions]
plone.recipe.zope2install = 3.1

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin

eggs =
   zope.testing == 3.5
   ${buildout:eggs}
   Plone
   PIL
   ${config:package}
   collective.transmogrifier >=1.0,<2.0dev

zcml =
    ${config:package}

[test]
recipe = zc.recipe.egg
eggs =
   ${instance:eggs}
   plone.recipe.zope2instance
   
extra-paths =
        ${zope2:location}/lib/python
entry-points =
    test=plone.recipe.zope2instance.ctl:main
        
arguments = ["-C", "${instance:location}/etc/zope.conf", "test", "-m", "${config:package}", "--keepbytecode", "--exit-with-status"] + sys.argv[1:]
